// SPDX-License-Identifier: BSD-3-Clause

/dts-v1/;

#include "qcom-msm8226.dtsi"
#include "pm8226.dtsi"

/delete-node/ &smem_region;
/delete-node/ &adsp_region;

/ {
	model = "Motorola Moto G (2nd Gen) (2014)";
	compatible = "motorola,titan", "qcom,msm8226";
	chassis-type = "handset";

	aliases {
		mmc0 = &sdhc_1; /* SDC1 eMMC slot */
		mmc1 = &sdhc_2; /* SDC2 SD card slot */
	};

	chosen {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		stdout-path = "display0";

		framebuffer0: framebuffer@3200000 {
			compatible = "simple-framebuffer";
			reg = <0x03200000 0x800000>;
			width = <720>;
			height = <1280>;
			stride = <(720 * 3)>;
			format = "r8g8b8";
		};
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		smem_region: smem@0 {
			reg = <0x0 0x4600000>;
			no-map;
		};

		qsecom_region: qsecom@0 {
			reg = <0x0 0x400000>;
			no-map;
		};

		adsp_region: adsp@0 {
			reg = <0x0 0x2a00000>;
			no-map;
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		key-volume-up {
			label = "Volume Up";
			gpios = <&tlmm 106 GPIO_ACTIVE_LOW>;
			linux,input-type = <EV_KEY>;
			linux,code = <KEY_VOLUMEUP>;
			debounce-interval = <15>;
		};

		key-volume-down {
			label = "Volume Down";
			gpios = <&tlmm 107 GPIO_ACTIVE_LOW>;
			linux,input-type = <EV_KEY>;
			linux,code = <KEY_VOLUMEDOWN>;
			gpio-key,wakeup;
			debounce-interval = <15>;
		};

		event-hall-sensor {
			label = "Hall Effect Sensor";
			gpios = <&tlmm 109 GPIO_ACTIVE_LOW>;
			linux,input-type = <EV_SW>;
			linux,code = <KEY_RESERVED>;
			gpio-key,wakeup;
			debounce-interval = <15>;
		};
	};

	vddio_disp_vreg: vddio_disp_vreg {
		compatible = "regulator-fixed";
		regulator-name = "vddio-disp";
		gpio = <&tlmm 34 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <300>;
		enable-active-high;
		regulator-boot-on;
	};

	vdd_touch_vreg: vdd_touch_vreg {
		compatible = "regulator-fixed";
		regulator-name = "vdd-touch";
		gpio = <&tlmm 73 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <300>;
		enable-active-high;
	};

	sound {
		qcom,audio-routing =
			"RX_BIAS", "MCLK",
			"LDO_H", "MCLK",
			"SPK_OUT", "MCLK",
			"SPK_OUT", "EXT_VDD_SPKR",
			"Lineout_1 amp", "LINEOUT1",
			"Lineout_2 amp", "LINEOUT2",
			"EAR amp", "EAR",
			"AMIC2", "MIC BIAS2 External",
			"MIC BIAS2 External", "Headset Mic",
			"AMIC1", "MIC BIAS1 External",
			"MIC BIAS1 External", "Handset Mic",
			"AMIC3", "MIC BIAS1 External",
			"MIC BIAS1 External", "Handset Mic";


		fih,cdc-lineout-topspkr-gpios = <&tlmm 50 GPIO_ACTIVE_LOW>;
		fih,cdc-lineout-botspkr-gpios = <&tlmm 51 GPIO_ACTIVE_LOW>;
		fih,cdc-spk-rcv-sel-gpios = <&tlmm 52 GPIO_ACTIVE_HIGH>;

		status = "ok";
	};

	sound-9302 {
		qcom,audio-routing =
			"RX_BIAS", "MCLK",
			"LDO_H", "MCLK",
			"SPK_OUT", "MCLK",
			"SPK_OUT", "EXT_VDD_SPKR",
			"Ear select", "EAR",
			"Lineout_1 amp", "LINEOUT1",
			"Lineout_2 amp", "LINEOUT2",
			"AMIC1", "MIC BIAS1 External",
			"MIC BIAS1 External", "Handset Mic",
			"AMIC2", "MIC BIAS2 External",
			"MIC BIAS2 External", "Headset Mic",
			"AMIC3", "MIC BIAS1 External",
			"MIC BIAS1 External", "Handset Mic";

		qcom,cdc-mclk-gpios = <&pm8226_gpios 1 GPIO_ACTIVE_HIGH>;

		fih,cdc-lineout-topspkr-gpios = <&tlmm 50 GPIO_ACTIVE_LOW>;
		fih,cdc-lineout-botspkr-gpios = <&tlmm 51 GPIO_ACTIVE_LOW>;
		fih,cdc-spk-rcv-sel-gpios = <&tlmm 52 GPIO_ACTIVE_HIGH>;
		status = "ok";
	};

};

&rpm_requests {
	regulators {
		compatible = "qcom,rpm-pm8226-regulators";

		pm8226_s1: s1 {
			regulator-min-microvolt = <500000>;
			regulator-max-microvolt = <1275000>;
		};

		pm8226_s3: s3 {
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1300000>;
		};

		pm8226_s4: s4 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <2200000>;
		};

		pm8226_s5: s5 {
			regulator-min-microvolt = <1150000>;
			regulator-max-microvolt = <1150000>;
		};

		pm8226_l1: l1 {
			regulator-min-microvolt = <1225000>;
			regulator-max-microvolt = <1225000>;
		};

		pm8226_l2: l2 {
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
		};

		pm8226_l3: l3 {
			regulator-min-microvolt = <750000>;
			regulator-max-microvolt = <1337500>;
		};

		pm8226_l4: l4 {
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
		};

		pm8226_l5: l5 {
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
		};

		pm8226_l6: l6 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-allow-set-load;
		};

		pm8226_l7: l7 {
			regulator-min-microvolt = <1850000>;
			regulator-max-microvolt = <1850000>;
		};

		pm8226_l8: l8 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
		};

		pm8226_l9: l9 {
			regulator-min-microvolt = <2050000>;
			regulator-max-microvolt = <2050000>;
		};

		pm8226_l10: l10 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
		};

		pm8226_l12: l12 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
		};

		pm8226_l14: l14 {
			regulator-min-microvolt = <2750000>;
			regulator-max-microvolt = <2750000>;
		};

		pm8226_l15: l15 {
			regulator-min-microvolt = <2800000>;
			regulator-max-microvolt = <2800000>;
		};

		pm8226_l16: l16 {
			regulator-min-microvolt = <3000000>;
			regulator-max-microvolt = <3350000>;
		};

		pm8226_l17: l17 {
			regulator-min-microvolt = <2950000>;
			regulator-max-microvolt = <2950000>;
		};

		pm8226_l18: l18 {
			regulator-min-microvolt = <2950000>;
			regulator-max-microvolt = <2950000>;
		};

		pm8226_l19: l19 {
			regulator-min-microvolt = <2850000>;
			regulator-max-microvolt = <2850000>;
		};

		pm8226_l20: l20 {
			regulator-min-microvolt = <3075000>;
			regulator-max-microvolt = <3075000>;
		};

		pm8226_l21: l21 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <2950000>;
			regulator-allow-set-load;
		};

		pm8226_l22: l22 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <2950000>;
		};

		pm8226_l23: l23 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <2950000>;
		};

		pm8226_l24: l24 {
			regulator-min-microvolt = <1300000>;
			regulator-max-microvolt = <1350000>;
		};

		pm8226_l25: l25 {
			regulator-min-microvolt = <1775000>;
			regulator-max-microvolt = <2125000>;
		};

		pm8226_l26: l26 {
			regulator-min-microvolt = <1225000>;
			regulator-max-microvolt = <1225000>;
		};

		pm8226_l27: l27 {
			regulator-min-microvolt = <2050000>;
			regulator-max-microvolt = <2050000>;
		};

		pm8226_l28: l28 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <3400000>;
			regulator-boot-on;
		};

		pm8226_lvs1: lvs1 {
			/* Pull-up for I2C lines */
			regulator-always-on;
		};
	};
};

&blsp1_i2c2 {
	clock-frequency = <100000>;
	status = "okay";

	bma2x2@11 {
		compatible = "bosch,bma2x2";
		vdd-supply = <&pm8226_l19>;
		gpios = <&tlmm 63 0>; /* IRQ */
		bma,place = <4>;
	};

	bmm050@13 {
		compatible = "bosch,bmm050";
		vdd-supply = <&pm8226_l19>;
		gpios = <&tlmm 66 0>; /* IRQ */
				bmm,place = <4>;
	};

	bmg160@68 {
		compatible = "bosch,bmg160";
		vdd-supply = <&pm8226_l19>;
		gpios = <&tlmm 64 0>; /* IRQ */
		bmg,place = <2>;
	};

	stk3x1x@48 {
		compatible = "stk,stk3x1x";
		vdd-supply = <&pm8226_l19>;
		gpios = <&tlmm 65 0>; /* IRQ */
		stk,irq-gpio = <&tlmm 65 0x0>;
		stk,transmittance = <500>;
		stk,state-reg = <0x00>;
		stk,psctrl-reg = <0x31>;
		stk,alsctrl-reg = <0x38>;
		stk,ledctrl-reg = <0xFF>;
		stk,wait-reg = <0xA7>;
				stk,als_thresh_pct = <5>;
				stk,covered_thresh = <0x0066>;
				stk,uncovered_thresh = <0x003E>;
				stk,recal_thresh = <0x0016>;
				stk,max_noise_fl = <0x0F00>;
	};

	magnetometer@c {
		compatible = "asahi-kasei,ak8963";
		reg = <0xc>;
		interrupts-extended = <&tlmm 38 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&tlmm 62 GPIO_ACTIVE_LOW>;
		vdd-supply = <&pm8226_l19>;
		pinctrl-0 = <&mag_int_default &mag_reset_default>;
		pinctrl-names = "default";
	};

	accelerometer@39 { /* ct406@39 in kitkat 4.4.4 */
		compatible = "st,lis3dh-accel";
		reg = <0x18>;
		interrupts-extended = <&tlmm 1 IRQ_TYPE_EDGE_FALLING>;
		vdd-supply = <&pm8226_l19>;
		pinctrl-0 = <&accel_int_default>;
		pinctrl-names = "default";
		st,drdy-int-pin = <1>;
	};
};

&blsp1_i2c3 {
	status = "disabled";
	/delete-node/ tps65132@3e;

	temperature-sensor@48 {
		compatible = "ti,tmp108";
		reg = <0x48>;
		interrupts-extended = <&tlmm 13 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-0 = <&temp_alert_default>;
		pinctrl-names = "default";
		#thermal-sensor-cells = <0>;
	};

	tpa6165xx@40 {
		status = "disabled";
	};
};

&blsp1_i2c4 {
	qcom,i2c-src-freq = <50000000>;
		tps65132@3e {
			compatible = "ti,tps65132";
			reg = <0x3e>;
			gpios = <&tlmm 12 GPIO_ACTIVE_HIGH>, <&tlmm 13 GPIO_ACTIVE_HIGH>;
			active-dis;
			bias-delay-us = <2000>;
			tps65132: regulator {
				regulator-boot-on;
				regulator-name = "tps65132";
				regulator-min-microvolt = <5400000>;
				regulator-max-microvolt = <5600000>;
				startup-delay-us = <10000>;
			};
		};
		lm3630a@38 {
			status = "okay";
			compatible = "ti,lm3630a";
			reg = <0x38>;
			ti,skip-init-config;
			/* 2 string LEDs controled by LEDA */
			ti,leda-ctrl = <0x14>;
			ti,ledb-ctrl = <0x01>;
			ti,leda-max-brt = <0xff>;
			ti,ledb-max-brt = <0xff>;
			ti,leda-init-brt = <0xff>;
			ti,ledb-init-brt = <0xff>;
			ti,leda-max-cur = <0x14>;
			ti,ledb-max-cur = <0x14>;
			ti,leda-max-hbm-cur = <0x1C>;
			ti,ledb-max-hbm-cur = <0x1C>;
			ti,boost-ctrl = <0x20>;
			ti,config = <0x09>;
			ti,irq-gpio = <&tlmm 4 0>;
			ti,hwen-gpio = <&tlmm 5 0>;
			ti,vddio-name = "vddio_bl";
			vddio_bl-supply = <&pm8226_l6>;
		};
};

&blsp1_i2c5 {
	status = "okay";
	qcom,i2c-bus-freq = <100000>;
	qcom,i2c-src-freq = <50000000>;

	synaptics_dsx_i2c@20 {
		compatible = "synaptics,synaptics_dsx_i2c";
		reg = <0x20>;
		interrupt-parent = <&tlmm>;
		interrupts = <17 0>;
		gpios = <&tlmm 17 0>, /* IRQ */
			<&tlmm 16 0>; /* RESET */
		touch_vdd-supply = <&vdd_touch_vreg>;
		synaptics,gpio-config;
		synaptics,reset-on-resume;
		synaptics,hw-reset;
		/delete-property/ synaptics,normal-mode;
	};

	cyttsp3_i2c@3b {
		compatible = "cyttsp3,i2c";
		reg = <0x3b>;
		interrupt-parent = <&tlmm>;
		interrupts = <17 0x0>;
		vdd-supply = <&pm8226_l19>;
		vcc_i2c-supply = <&pm8226_lvs1>;
		status = "disabled";
	};

	aps_ts@34 {
		compatible = "melfas-aps,aps_ts";
		reg = <0x34>;
		interrupt-parent = <&tlmm>;
		interrupts = <17 0>;
		gpios = <&tlmm 17 0>, /* IRQ */
			<&tlmm 16 0>; /* RESET */
		aps_ts,default-product-id = "Falc";
		aps_ts,high-speed-isp;
		status = "disabled";
	};
};

&sdhc_1 {
	vmmc-supply = <&pm8226_l17>;
	vqmmc-supply = <&pm8226_l6>;

	bus-width = <8>;
	non-removable;

	status = "okay";
};

&sdhc_2 {
	vmmc-supply = <&pm8226_l18>;
	vqmmc-supply = <&pm8226_l21>;

	bus-width = <4>;
	cd-gpios = <&tlmm 38 GPIO_ACTIVE_HIGH>;

	status = "okay";
};

&smbb {
	qcom,fast-charge-safe-current = <2000000>;
	qcom,fast-charge-current-limit = <1900000>;
	qcom,fast-charge-safe-voltage = <4400000>;
	qcom,minimum-input-voltage = <4300000>;

	status = "okay";
};

&usb {
	extcon = <&smbb>;
	dr_mode = "peripheral";
	status = "okay";
};

&usb_hs_phy {
	extcon = <&smbb>;
	v1p8-supply = <&pm8226_l10>;
	v3p3-supply = <&pm8226_l20>;
};

&tlmm {
	accel_int_default: accel-int-default-state {
		pins = "gpio65";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
		output-disable;
	};

	mag_int_default: mag-int-default-state {
		pins = "gpio66";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
		output-disable;
	};

	mag_reset_default: mag-reset-default-state {
		pins = "gpio62";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
		output-high;
	};

	reg_lcd_default: reg-lcd-default-state {
		pins = "gpio12", "gpio13";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
		output-high;
	};

	reg_vddio_disp_default: reg-vddio-disp-default-state {
		pins = "gpio34";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
		output-high;
	};

	temp_alert_default: temp-alert-default-state {
		pins = "gpio13";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
		output-disable;
	};
};

